// checkboxes
.pressword-checkgroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 50vw;
  @media (max-width: 1330px) {
    flex-direction: column;
  }
  @media (max-width: $mid-break) {
    width: 100%;
    flex-direction: row;
  }
  @media (max-width: $mobile-break) {
    flex-direction: column;
  }
  margin: 2%;
}

.pressword-check-typegroup {
  display: flex;
  flex-direction: column;
  margin: 1%;
  width: 20%;
  & > .checkbox {
    font-weight: bold;
  }
  @media (max-width: $mobile-break) {
    flex-direction: row;

    .pressword-check-actiongroup {
      margin: 0 10% 0 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      & > * {
        margin: 0 5% 0 5%;
      }
    }
  }
}
