// header
.pressword-header {
  margin: 0 auto;
  width: 25vw;
}
.pressword-nav {
}
.pressword-nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pressword-nav-link {
  text-align: center;
  padding: 1vw 3vw;
  font-size: .9vw;
  border-radius: 10px;
  background-color: $grey;
  color: $white;
  &:hover {
    background-color: $burnt;
  }
}

